.details {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.details__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background: #dcdcdc;
  padding: 30px;
  border-radius: 20px;
}

.box {
  background: #eaeaea;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  transition: 0.3s;
}

.box:hover {
  transform: translateY(-5px);
}

.box img {
  width: 40px;
  margin-top: 10px;
}